<!-- admin-control.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
      function filterItems() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById('searchUsers');
          filter = input.value.toUpperCase();
          ul = document.getElementById('userList');
          li = ul.getElementsByTagName('li');

          for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName('a')[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = '';
              } else {
                  li[i].style.display = 'none';
              }
          }
      }
  </script>
</head>
<body>
    <div class='card'>
        <h1>Admin Control</h1>

        <form action="/toggle-admin-only-mode" method="POST">
            <label for="admin_only_mode">Admin-only Mode:</label>
            <input type="checkbox" id="admin_only_mode" name="admin_only_mode" {% if admin_only_mode %}checked{% endif %}>
            <button class='ui' type="submit">Save Changes</button>
        </form>
        <hr>

        <h3>Manage Users</h3>
        <label for="searchUsers">Search Users:</label>
        <input type="text" id="searchUsers" oninput="filterItems()" placeholder="Enter username">
        <div class='logs' style='max-height: 300px; overflow-y: auto; list-style:none;'>
            <ul id='userList'>
                {% for user in users %}
                    <li>
                        <a href="{{ url_for('admin_user_actions', username=user['username']) }}" class='ui' style="text-align: left;">{{ user['username'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <a href='/dashboard'><button class='ui'>Back To dashboard</button></a>
    </div>
</body>
</html>
