<!DOCTYPE html>
<html>
<head>
    <title>Daily Reward</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        .message {
            text-align: center;
            margin-bottom: 20px;
        }

        .claim-button {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Daily Reward</h1>

    <div class="message">
        <p>{{ message }}</p>
    </div>

  
        <div class="claim-button">
            <a href="/claim">Claim Prize</a>
        </div>
</body>
</html>
