<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}"
  <title>Forgotten Password</title>

</head>
<body>
  <div class='card'>
    <h1>Forgotten Password</h1>
    <p><form action="/forgotten-password" method="POST" onsubmit="return An email has been sent to the email of the account if it exists.'">
      <input type='text' name='username' placeholder='username' required><br>
      <input type="submit" class='ui'>
  </form></p>
  </div>
</body>
</html>