<!DOCTYPE html>
<html>
<head>
    <title>Login/Register - Bank</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylemessage.css') }}">
</head>
<body>
  <div class='flex-container'>
    <div class='card'>
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table pricing-table-id="prctbl_1ObolDFKPD2ROC2fb593fJ6w"
      publishable-key="pk_test_51OBHpoFKPD2ROC2fyFLsC4quQkluNbP2otQBdP50KwJQnkQY6odYzDJ21OhdnqsFredFmxOVWaBOr29vzibloSkl00hXNBjkSx">
      </stripe-pricing-table>
    </div>
  </div>
  <div>
    <h1>
      REAL DO NOT ChANGE
    </h1>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1OboOSFKPD2ROC2fbWfbPKMD"
    publishable-key="pk_live_51OBHpoFKPD2ROC2f21cvF7TyLDa3mizs8bzUcBoX4wRgrPiLuuPvmpXaYddFguDGScWw4DBFrNwmPq702fpJS9GN00RQ9D9OvK">
    </stripe-pricing-table>
  </div>
</body>
</html>
