<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
</head>
<body>
  
  <div class='card'>
<h1>Settings</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<hr>
    <h2>Delete Account</h2>
    <p><form action="/user-delete" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
    <button type='submit' class='ui'>Delete Account</button></form></p>
    <hr>
    <p><h2>Change Password</h2></p>
    <form action="/change-password"method="POST" >
        <label for="old_password">Old Password:</label>
        <input type="password" name="old_password" id='old_password' required><br>

        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" id='new_password' required><br>

        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" name="confirm_new_password" id="confirm_new_password"required><br>

        <input type="submit" value="Change Password" class='ui'>
    </form>
    <hr>
          <p><form action="/signout" method="POST">
        <button class='ui' type="submit">Sign out</button>
          
          </form></p>
    <hr>
    <p><h2>User information</h2></p>
    <p>Username: {{ user_lookup.username }}</p>

          <p>Admin Status: {% if user_lookup.is_admin %}Admin{% else %}Not Admin{% endif %}</p>
          <p>Current Balance: {{"£{:,.2f}".format(user_lookup.balance) }}</p>
    <p>Banned status: {% if user_lookup.banned %}Banned{% else %}Not Banned{% endif %}</p>
    <p>Last login: {{ user_lookup.login }}</p>
    <p>Account Created: {{ user_lookup.created }}</p>
    <p>Clicks Per second: {{ user_lookup.cps }}</p>
    <p>Email: {{ user_lookup.email }}</p>
    <a href='/logs'><button class='ui'>View my Logs</button></a>
    <hr>
    <p><a href='/dashboard'><button class='ui'>back To dashboard</button></a></p>
    </ul>
    
  </div>
</body>
</html>