<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}"
  <title>Verification</title>
  <script defer>
    var socket = io.connect('https://' + document.domain + ':' + location.port, {
        transports: ['websocket']
    });

    socket.on('connect', function () {
        console.log('Connected to server');
    });

    socket.on('verified', function() {
        console.log('User verified');
        window.location.href = '/check-banned';
    });;
  </script>
</head>
<body>
<div class='card'>
  <h1>Verification</h1>
  <p>Please check your email for a verification link, this page will automatically update once verified</p>
  <p><form action='/signout' method='POST'>
    <button class='ui'>Signout</button>
  </form></p>
  <p>Wrong Email?  <a href='/change-email-form'><button class='ui'>Change Email</button></a></p>
  
</div>
</body>
</html>