<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}"
  <title>Verification Success</title>
</head>
<body>
  <div class='card'>
  <h1>Verification was a success</h1>
  <p>Return to the other tab to access the site</p>
  <p>Or go to the site here: <a id='link' href='/check-banned'><button class='ui'>Dashboard</button></a></p>
  </div>
</body>
</html>