<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}"
  <title>Verification Success</title>
</head>
<body>
  <div class='card'>
  <h1>Verification Failed</h1>
  <p>Check inbox for new links.</p>
  <p>Or Change email again <a id='link' href='/change-email-form'><button class='ui'>Form</button></a></p>
  </div>
</body>
</html>